* {
  box-sizing: border-box;
}

body {
  width: 600px;
  margin: 30px auto;
  border: 1px solid #000;
}

.navbar-header {
  text-align: center;
  font-size: 30px;
  background-color: #c4cb69d6;
}
.navbar-brand {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.jumbotron {
  padding: 40px;
  background-color: #dcdfb457;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: auto;
}

input {
  display: block;
  width: 200px;
  margin: auto;
  border-radius: 2px;
  border: 1px solid #000;
  padding: 3px;
}

.button {
  cursor: pointer;
  padding: 10px;
  background-color: #c4cb69ee;
  color: #fff;
  border: 3px solid #fff;
}

table {
  display: flex;
  justify-content: space-around;
}

td {
  padding: 10px;
}

.button2 {
  background-color: #c4cb69ee;
  border-radius: 8px;
  margin-left: 10px;
}

.button2 a {
  text-decoration: none;
  color: #fff;
}
